/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 Nov 2021, 12:56:15 am
    Author     : User
*/
.bodybg{
    -fx-background-image:url(“/images/loginRegisterPage.png”);
    -fx-background-size:100% 100%;
}
